---
import Img from '../components/images/PMReady.png';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/test-astro-yt-embed/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/css?family=Poppins"
			rel="stylesheet"
		/>
		<title>PMReady Waitlist</title>
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
			@tailwind base;
			@tailwind components;
			@tailwind utilities;
		</style>
	</head>
  <body class="bg-[#EDEDED] text-black font-poppins">
    <header>
      <div class="container bg-white mx-auto px-10 py-6 ">
        <a href="/" title="Home" class="flex flex-wrap items-center">
          <img class="w-14 md:w-16" src={Img} alt="PMReady Logo" />
          <span class="font-normal text-5xl hidden md:block ml-3" style="background: linear-gradient(to right, #79ADDC, #CAD593); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">PMReady</span>
        </a>
      </div>
    </header>
  </body>
</html>