---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="PMReady Waitlist">
	<main>
		<div class="center">
			<p>Join the waitlist for</p>
			<p class="gradient-text">PMReady!</p>
		</div>
	</main>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200&family=Raleway:wght@300&display=swap');

body {
    background-color: #EDEDED;  
    margin: 0px;  
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    display: grid;
    color:	#235789;

  }

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: large;
  }

.gradient-text {
  background: linear-gradient(to right, #79ADDC, #CAD593);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
	font-size: 35px;
}


</style>
